<!-- Left side column. contains the logo and sidebar -->

<aside class="main-sidebar">

    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

        <!-- Sidebar user panel (optional) -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="{{ asset('/assets/admin/img/admin-icon.jpg') }}" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>{{ app.user.username }}</p>
                <!-- Status -->
                <a href="#"><i class="fa fa-circle text-success"></i> {% trans %}admin.dashboard.online{% endtrans %}</a>
            </div>
        </div>

        <!-- search form (Optional) -->

        <!--
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search...">
              <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
              </span>
            </div>
        </form>
        <!-- /.search form -->
        -->

        <!-- Sidebar Menu -->

        <ul class="sidebar-menu">
            <li class="header">{% trans %}admin.dashboard.navigation.heading{% endtrans %}</li>
            <li {% if app.request.attributes.get('_route') == 'app_admin_categories' %} class="active" {% endif %} ><a href="{{ path('app_admin_categories') }}"><i class="fa fa-bars"></i> <span>{% trans %}admin.dashboard.categories.heading{% endtrans %}</span></a></li>
            <li {% if app.request.attributes.get('_route') == 'app_admin_subcategories_list' %} class="active" {% endif %} ><a href="{{ path('app_admin_subcategories_list') }}"><i class="fa fa-bars"></i> <span>{% trans %}admin.dashboard.subcategories.heading{% endtrans %}</span></a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-book"></i> <span>Продукти</span><i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li {% if app.request.attributes.get('_route') == 'app_admin_category_add' %} class="active" {% endif %} ><a href="{{ path('app_admin_category_add') }}"><i class="fa fa-file"></i> <span>Добави продукт</span></a></li>
                    {% for cat in main_nav %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-link"></i> <span>{{ cat.getCategory }}</span><i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="treeview-menu">
                                {% for subCat in cat.getSubcategories() %}
                                    <li>
                                        <a href="{{ path('app_admin_products_list', {'subCatId' : subCat.getId}) }}">{{ subCat.name }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}
                    </li>
                </ul>
            </li>
            <li {% if app.request.attributes.get('_route') == 'app_admin_carousel' %} class="active" {% endif %} ><a href="{{ path('app_admin_carousel') }}"><i class="fa fa-image"></i> <span>{% trans %}admin.dashboard.carousel.heading{% endtrans %}</span></a></li>
            <li {% if app.request.attributes.get('_route') == 'app_admin_banner_list' %} class="active" {% endif %} ><a href="{{ path('app_admin_banner_list') }}"><i class="fa fa-file-image-o"></i> <span>{% trans %}admin.dashboard.banners.heading{% endtrans %}</span></a></li>
            <li {% if app.request.attributes.get('_route') == 'app_admin_watermark_list' %} class="active" {% endif %} ><a href="{{ path('app_admin_watermark_list') }}"><i class="fa fa-file-powerpoint-o"></i> <span>{% trans %}admin.dashboard.watermark.heading{% endtrans %}</span></a></li>

            <li>
            <a href="#"><i class="fa fa-file"></i> <span>Страници</span> <i class="fa fa-angle-left pull-right"></i></a>
            <ul class="treeview-menu">
                <li><a href="{{ path('app_admin_pages', {id : 1}) }}">Транспорт</a></li>
                <li><a href="{{ path('app_admin_pages', {id : 2}) }}">Монтаж</a></li>
                <li><a href="{{ path('app_admin_pages', {id : 3}) }}">3D проект</a></li>
                <li><a href="{{ path('app_admin_pages', {id : 4}) }}">Лизинг</a></li>
                <li><a href="{{ path('app_admin_pages', {id : 5}) }}">Плащане</a></li>
                <li><a href="{{ path('app_admin_pages', {id : 6}) }}">Складова база</a></li>
                <li><a href="{{ path('app_admin_pages', {id : 7}) }}">Разпродажба на мостри</a></li>
                <li><a href="{{ path('app_admin_pages', {id : 8}) }}">Промоции и топ оферти</a></li>
                <li><a href="{{ path('app_admin_pages', {id : 9}) }}">Матраци интерматрак</a></li>
                <li><a href="{{ path('app_admin_pages', {id : 10}) }}">Нашите магазини</a></li>
            </ul>
            </li>
            <li {% if app.request.attributes.get('_route') == 'app_admin_password_change' %} class="active" {% endif %} ><a href="{{ path('app_admin_password_change') }}"><i class="fa fa-user"></i> <span>{% trans %}admin.dashboard.navigation.change_password{% endtrans %}</span></a></li>
            <li {% if app.request.attributes.get('_route') == 'app_admin_settings' %} class="active" {% endif %} ><a href="{{ path('app_admin_settings') }}"><i class="fa fa-gears"></i> <span>{% trans %}admin.dashboard.settings.heading{% endtrans %}</span></a></li>


  <li>
            <a href="#"><i class="fa fa-file"></i> <span>Промоции</span> <i class="fa fa-angle-left pull-right"></i></a>
            <ul class="treeview-menu">
            <li {% if app.request.attributes.get('_route') == 'app_admin_promotions' %} class="active" {% endif %} ><a href="{{ path('app_admin_promotions') }}"><i class="fa fa-certificate"></i> <span>{% trans %}admin.dashboard.promotions.category_add{% endtrans %}</span></a></li>

            <li {% if app.request.attributes.get('_route') == 'app_admin_promotions_add_product' %} class="active" {% endif %} ><a href="{{ path('app_admin_promotions_add_product') }}"><i class="fa fa-certificate"></i> <span>{% trans %}admin.dashboard.promotions.product_add{% endtrans %}</span></a></li>
            </ul>
            </li>



  <li>
            <a href="#"><i class="fa fa-file"></i> <span>Каталози</span> <i class="fa fa-angle-left pull-right"></i></a>
            <ul class="treeview-menu">
            <li {% if app.request.attributes.get('_route') == 'app_admin_catalog_cover' %} class="active" {% endif %} ><a href="{{ path('app_admin_catalog_cover') }}"><i class="fa fa-certificate"></i> <span>{% trans %}admin.dashboard.catalog.cover{% endtrans %}</span></a></li>

            <li {% if app.request.attributes.get('_route') == 'app_admin_catalog_upload' %} class="active" {% endif %} ><a href="{{ path('app_admin_catalog_upload') }}"><i class="fa fa-certificate"></i> <span>{% trans %}admin.dashboard.catalog.catalogs{% endtrans %}</span></a></li>
            </ul>
            </li>



        </ul><!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
</aside>
