{% extends 'AppBundle:Admin:layout.html.twig' %}

{% block pageHeading %} {{ pageHeading }}{% endblock pageHeading %}
{% block pageHeadingDescription %} {{ pageDescription }}{% endblock pageHeadingDescription %}
{% block title %} {{ pageHeading }} -> {{ pageDescription }} {% endblock title %}
{% block breadcrumb %} {{ pageHeading|capitalize }} {{ pageDescription|lower }} {% endblock breadcrumb %}

{% block body %}

    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="flash-notice">
            <div class="callout callout-success">
                <p> {{ flashMessage|raw }}</p>
            </div>
        </div>
    {% endfor %}


    {{ form_start(form) }}
    <div class="form-group">
        {{ form_label(form.category) }}
        {{ form_widget(form.category, {'attr' : {'class' : 'form-control'}}) }}
        {{ form_errors(form.category) }}
    </div>

    <div class="form-group">
        {{ form_label(form.name) }}
        {{ form_widget(form.name, {'attr' : {'class' : 'form-control'}}) }}
        {{ form_errors(form.name) }}
    </div>

    <div class="form-group">
        {{ form_label(form.imageFile) }}
        {{ form_widget(form.imageFile, {'attr' : {'class' : 'form-control'}}) }}
        {{ form_errors(form.imageFile) }}
    </div>

    <div class="form-group">
        {{ form_row(form.save , {'attr': {'class': 'btn btn-default' }}) }}
    </div>

    {{ form_end(form) }}

    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">{% trans %} admin.dashboard.carousel.list {% endtrans %}</h3>
        </div><!-- /.box-header -->
        <div class="box-body">
                {% for cat in categories %}
                    {% if cat.subcategories|length != 0  %}
                    <h4>{{ cat.getCategory }}</h4>
                    <table class="table table-bordered" id="subcategories-table">
                        <tbody>
                        <tr>
                            <th width="5%">#</th>
                            <th width="55%">{% trans %} admin.dashboard.categories.category {% endtrans %}</th>
                            <th width="55%">{% trans %} admin.dashboard.subcategories.subcategory {% endtrans %}</th>
                            <th>{% trans %} form.edit {% endtrans %}</th>
                            <th>{% trans %} form.delete {% endtrans %}</th>
                        </tr>

                        {% for subcat in cat.subcategories %}
                            <tr>
                                <td data-id="{{ subcat.id }}" data-type="subcategory" class="index">{{ subcat.position }}</td>
                                <td>{{ cat.getCategory }}</td>
                                <td>{{ subcat.name }}</td>
                                <td><a href="{{ path('app_admin_subcategories_edit', {id : subcat.id}) }}" class="btn btn-primary btn-xs" data-title="Edit"><span class="glyphicon glyphicon-pencil"></span></a></td>
                                <td><a href="{{ path('app_admin_subcategories_delete', {id : subcat.id}) }}" class="btn btn-danger btn-xs" data-title="Delete"><span class="glyphicon glyphicon-trash"></span></a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    </table>
                     {% endif %}
                {% endfor %}


        </div><!-- /.box-body -->
    </div>
{% endblock body %}