{% extends 'AppBundle:Admin:layout.html.twig' %}

{% block pageHeading %} {{ pageHeading }}{% endblock pageHeading %}
{% block pageHeadingDescription %} {{ pageDescription }}{% endblock pageHeadingDescription %}
{% block title %} {{ pageHeading }} -> {{ pageDescription }} {% endblock title %}
{% block breadcrumb %} {{ pageHeading|capitalize }} {{ pageDescription|lower }} {% endblock breadcrumb %}

{% block body %}

    {% for flashMessage in app.session.flashbag.get('message') %}
        <div class="flash-notice">
            <div class="callout callout-success">
                <p> {{ flashMessage|raw }}</p>
            </div>
        </div>
    {% endfor %}


    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock body %}