
{% extends 'AppBundle:Admin:layout.html.twig' %}

{% block pageHeading %} {{ pageHeading }}{% endblock pageHeading %}
{% block pageHeadingDescription %} {{ pageDescription }}{% endblock pageHeadingDescription %}
{% block title %} {{ pageHeading }} -> {{ pageDescription }} {% endblock title %}
{% block breadcrumb %} {{ pageHeading|capitalize }} {{ pageDescription|lower }} {% endblock breadcrumb %}

{% block body %}

{{form_start(form)}}
{{ form_widget(form)}}
{{form_end(form)}}


<div class="box">
<div class="box-header with-border">
    <h3 class="box-title">{% trans %} admin.dashboard.promotions.list {% endtrans %}</h3>
</div><!-- /.box-header -->
<div class="box-body">
    <table class="table table-bordered" id="promotions-table">
        <tbody><tr>
                <th>#</th>    
            <th width="55%">{% trans %} admin.dashboard.promotions.label {% endtrans %}</th>
            <th width="30%">{% trans %} admin.dashboard.promotions.img {% endtrans %}</th>
        </tr>
        {% set id = '' %}
        {% for entity in data %}
           {% if id != entity.promotion %}
                <tr>
                    <td>-------</td>
                </tr>
           {% endif %}
            <tr>
                <td data-id="{{ entity.id }}" data-type="PromotionProduct" class="index">{{ entity.position }}</td>
                <td>{{ entity.getPromotion().getTitle() }}</td>
                <td>{{ entity.getProduct().getTitle() }}</td>
                <td>
                    <a href="{{ path('app_admin_promotion_product_delete', {id : entity.getProduct().getId()}) }}" class="btn btn-danger btn-xs" data-title="Delete"><span class="glyphicon glyphicon-trash"></span></a>
                </td>
            </tr>
        {% set id = entity.promotion %}
        {% endfor %}

        </tbody></table>
</div><!-- /.box-body -->
{% endblock body %}
