{% extends 'AppBundle:Admin:layout.html.twig' %}

{% block pageHeading %} {{ pageHeading }}{% endblock pageHeading %}
{% block pageHeadingDescription %} {{ pageDescription }}{% endblock pageHeadingDescription %}
{% block title %} {{ pageHeading }} -> {{ pageDescription }} {% endblock title %}
{% block breadcrumb %} {{ pageHeading|capitalize }} {{ pageDescription|lower }} {% endblock breadcrumb %}

{% block body %}

    {% for flashMessage in app.session.flashbag.get('status') %}
        <div class="flash-notice">
            <div class="callout callout-success">
                <p> {{ flashMessage }}</p>
            </div>
        </div>
    {% endfor %}


    {% form_theme form
        'AppBundle:Admin/products:jquery.collection.html.twig'
        'AppBundle:Admin/products:options-theme.html.twig'
    %}


    {{ form_start(form) }}
{{ form_widget(form) }}

    {% for image in watermark %}
        <div class="radio">
            <label><input type="radio" name="watermark" value="{{ image.getImageName() }}">
                <img src="{{ asset('assets/images/watermark/' ~ image.getImageName()) }}" alt=""  width="50" height="50"/>
            </label>
        </div>
    {% endfor %}
    <input type="submit" value="Запиши">
{{ form_end(form) }}

{% endblock body %}