{% extends 'AppBundle:Admin:layout.html.twig' %}

{% block pageHeading %} {{ pageHeading }}{% endblock pageHeading %}
{% block pageHeadingDescription %} {{ pageDescription }}{% endblock pageHeadingDescription %}
{% block title %} {{ pageHeading }} -> {{ pageDescription }} {% endblock title %}
{% block breadcrumb %} {{ pageHeading|capitalize }} {{ pageDescription|lower }} {% endblock breadcrumb %}

{% block body %}
    {% for flashMessage in app.session.flashbag.get('message') %}
        <div class="flash-notice">
            <div class="callout callout-success">
                <p> {{ flashMessage }}</p>
            </div>
        </div>
    {% endfor %}
    {{ form_start(form) }}
    <div class="form-group">
        {{ form_label(form.name) }}
        {{ form_widget(form.name, {'attr' : {'class' : 'form-control'}}) }}
        {{ form_errors(form.name) }}
    </div>

    <div class="form-group">
        {{ form_label(form.url) }}
        {{ form_widget(form.url, {'attr' : {'class' : 'form-control'}}) }}
        {{ form_errors(form.url) }}
    </div>


    <div class="form-group">
        {{ form_label(form.imageFile) }}
        {{ form_widget(form.imageFile, {'attr' : {'class' : 'form-control'}}) }}
        {{ form_errors(form.imageFile) }}
    </div>

    <div class="form-group">
        {{ form_row(form.save , {'attr': {'class': 'btn btn-default' }}) }}
    </div>

    {{ form_end(form) }}
    </div>
{% endblock body %}
