{% extends 'AppBundle:Admin:layout.html.twig' %}

{% block pageHeading %} {{ pageHeading }}{% endblock pageHeading %}
{% block pageHeadingDescription %} {{ pageDescription }}{% endblock pageHeadingDescription %}
{% block title %} {{ pageHeading }} -> {{ pageDescription }} {% endblock title %}
{% block breadcrumb %} {{ pageHeading|capitalize }} {{ pageDescription|lower }} {% endblock breadcrumb %}

{% block body %}

    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="flash-notice">
            <div class="callout callout-success">
                <p> {{ flashMessage|raw }}</p>
            </div>
        </div>
    {% endfor %}


    {{ form_start(form) }}
    <div class="form-group">
        {{ form_label(form.catalog) }}
        {{ form_widget(form.catalog, {'attr' : {'class' : 'form-control'}}) }}
        {{ form_errors(form.catalog) }}
    </div>


    <div class="form-group">
        {{ form_label(form.imageFile) }}
        {{ form_widget(form.imageFile, {'attr' : {'class' : 'form-control'}}) }}
        {{ form_errors(form.imageFile) }}
    </div>

    <div class="form-group">
        {{ form_label(form.imageFileCover) }}
        {{ form_widget(form.imageFileCover, {'attr' : {'class' : 'form-control'}}) }}
        {{ form_errors(form.imageFileCover) }}
    </div>

    <div class="form-group">
        {{ form_row(form.save , {'attr': {'class': 'btn btn-default' }}) }}
    </div>

    {{ form_end(form) }}

    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">{% trans %} admin.dashboard.carousel.list {% endtrans %}</h3>
        </div><!-- /.box-header -->
        <div class="box-body">
            <table class="table table-bordered" id="table-pdf">
                <tbody><tr>
                    <th width="5%">#</th>
                    <th width="30%">{% trans %} admin.dashboard.carousel.img {% endtrans %}</th>
                    <th width="10%">{% trans %} form.action {% endtrans %}</th>
                </tr>
                {% for entity in data %}
                    <tr>
                        <td data-id="{{ entity.id }}" data-type="CatalogPdf" class="index">{{ entity.position }}</td>
                        <td>{{ entity.id }}</td>
                        <td><img src="/pdf/covers/{{ entity.imageNameCover }}" alt="" class="img-thumbnail" width="200" height="100"/></td>
                        <td>
                            <a class="btn btn-primary btn-delete-item" href="{{ path('app_admin_catalog_pdf_delete', {id : entity.id}) }}">{% trans %}form.delete{% endtrans %}</a>
                        </td>
                    </tr>
                {% endfor %}

                </tbody></table>
        </div><!-- /.box-body -->
{% endblock body %}
