{% extends 'AppBundle:Admin:layout.html.twig' %}

{% block pageHeading %} {{ pageHeading }}{% endblock pageHeading %}
{% block pageHeadingDescription %} {{ pageDescription }}{% endblock pageHeadingDescription %}
{% block title %} {{ pageHeading }} -> {{ pageDescription }} {% endblock title %}
{% block breadcrumb %} {{ pageHeading|capitalize }} {{ pageDescription|lower }} {% endblock breadcrumb %}

{% block body %}
    {{ form_start(form) }}
    <div class="form-group">
        {{ form_label(form.category) }}
        {{ form_widget(form.category, {'attr' : {'class' : 'form-control'}}) }}
        {{ form_errors(form.category) }}
    </div>

    <div class="form-group">
        {{ form_label(form.imageFile) }}
        {{ form_widget(form.imageFile, {'attr' : {'class' : 'form-control'}}) }}
        {{ form_errors(form.imageFile) }}
        <p class="help-block">Минимум 800px на дължина</p>
    </div>

    <div class="form-group">
        {{ form_row(form.lead) }}
    </div>

    <div class="form-group">
        {{ form_row(form.save , {'attr': {'class': 'btn btn-default' }}) }}
    </div>

    {{ form_end(form) }}
{% endblock body %}